<nav class="navigation__nav">
  <ul class="navigation__list">
    <li class="navigation__item">
      <img src="/assets/images/icons/profile.svg" alt="Profile">
      Profile
    </li>
    <li class="navigation__item">
        <img src="/assets/images/icons/credit-card.svg" alt="My cards">
        My cards
    </li>
    <li class="navigation__item">
        <img src="/assets/images/icons/support.svg" alt="Help & Support">
        Help & Support
    </li>
    <li class="navigation__item">
        <img src="/assets/images/icons/email.svg" alt="Inbox">
        Inbox
    </li>
    <li class="navigation__item">
        <img src="/assets/images/icons/notifications.svg" alt="Notifications">
        Notifications
    </li>
    <li class="navigation__item">
        <img src="/assets/images/icons/settings.svg" alt="Settings">
        Settings
    </li>
    <li class="navigation__item">
        <img src="/assets/images/icons/boarding-cards.svg" alt="Boarding cards">
        Boarding cards
    </li>
    <li class="navigation__item">
        <img src="/assets/images/icons/plane.svg" alt="Travel history">
        Travel history
    </li>
    <li class="navigation__item">
        <img src="/assets/images/icons/saved-destinations.svg" alt="Saved destinations">
        Saved destinations
    </li>
    <li class="navigation__item">
        <img src="/assets/images/icons/explore.svg" alt="Explore">
        Explore
    </li>
    <li class="navigation__item">
        <img src="/assets/images/icons/logout.svg" alt="Logout">
        Logout
    </li>
  </ul>
</nav>
