<header class="header">
  <div class="header__logo-container">
    <img src="assets/logo/logo-white.svg" alt="">
  </div>
  <div class="lang__container" [class.menu-open]="state === 'open'" (click)="languageSelector.toggleLanguage()">
    <div class="lang__default-lang">
      <img [src]="defaultFlag.flag" [alt]="defaultFlag.language">
    </div>
  </div>
  <div class="header__menu">
    <div class="hamburger" (click)="toggleMenu()">
      <div class="line_container" [@toggleMenu]="state">
        <span [@toggleCircle]="state" class="circle"></span>
        <span [@toggleLineOne]="state" class="line"></span>
        <span [@toggleLineTwo]="state" class="line"></span>
        <span [@toggleLineThree]="state" class="line"></span>
      </div>
    </div>
  </div>
</header>

<app-langauge #languageSelector></app-langauge>