// COLORS
$color-sky-blue: #A6C5CD;
$color-sky-blue-light: #DBE8EB;

$color-yellow: #FFE588;
$color-blue: #839EFF;
$color-red: #FF83A1;
$color-green: #98F6A7;

$color-grey-1: #626E7B;
$color-grey-2: #B6BCC3;
$color-grey-3: #D9DEE4;
$color-grey-4: #F1F3F6;

$color-white: #fff;
$color-dark: #1B2837;
$color-deep-dark: #060F19;


// FONT
$default-font-size: 1.6rem;
$font-path: '../../fonts';
$sf-bold: 'SFProDisplay-Bold';
$sf-regular: 'SFProDisplay-Regular';
$sf-medium: 'SFProDisplay-Medium';


// ICONS
$icons-font-family: "frvl" !default;

$icon-edit: "\e90e";
$icon-arrow-left: "\e90f";
$icon-arrow-right: "\e90d";
$icon-plane-filled: "\e900";
$icon-boarding-cards: "\e901";
$icon-close: "\e906";
$icon-credit-card: "\e907";
$icon-email: "\e908";
$icon-explore: "\e909";
$icon-logout: "\e90a";
$icon-notifications: "\e90b";
$icon-plane: "\e911";
$icon-profile: "\e912";
$icon-saved-destinations: "\e913";
$icon-settings: "\e914";
$icon-support: "\e90c";
$icon-search: "\e910";
$icon-adult: "\e902";
$icon-economy: "\e903";
$icon-round-trip: "\e904";
$icon-child: "\e905";
$icon-infant: "\e915";
$icon-plus: "\e916";
$icon-minus: "\e917";
$icon-hand-luggage: "\e918";
$icon-luggage: "\e919";