.language-selector {
  &__overlay {
    @include respond(phone) {
      position: fixed;
      width: 100%;
      height: 100vh;
      @include background-opacity($color-dark, 0.8);
      -webkit-backdrop-filter: blur(.8rem);
      backdrop-filter: blur(.8rem);
      top: 0;
      left: 0;
      z-index: 999;
    }
  }

  &__slider {
    @include respond(phone) {
      position: fixed;
      transition: .8s 10ms cubic-bezier(.68, -.55, .265, 1.55);
      left: 0;
      bottom: 0;
      background: $color-grey-4;
      width: 100%;
      height: 50vh;
      border-top-left-radius: 4rem;
      border-top-right-radius: 4rem;
      padding: 3.2rem;
      z-index: 1000;
      transform: translate3d(0, 100vh, 0);
    }

    &.open {
      transform: translate3d(0, 0, 0);
    }

    &:after {
      content: '';
      background: $color-grey-4;
      height: 10rem;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: -10rem;
    }
  }

  &__slider-inner {
    @include respond(phone) {
      position: relative;
      padding-top: 4.8rem;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }





  &__close {
    @include respond(phone) {
      position: absolute;
      top: 0;
      width: 2.4rem;
      height: 2.4rem;
      right: 0;

      img {
        transition: transform .25s, opacity .25s;
      }

      &:hover {
        img {
          transform: rotate(360deg);
        }

      }
    }
  }
}


.language-select {
  @include respond(phone) {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__language {
      padding: 1.6rem;
      transform: scale(1);
      width: 30%;
      transition: all 280ms;

      &.selected {
        transform: scale(1.5);
        transition: all 280ms;

        img {
          //border: .4rem solid $color-yellow;
        }
      }

      img {
        // box-shadow: 0 1.6rem 2.4rem rgba($color-yellow, 0.4);
        box-shadow: .8rem .8rem 2.4rem $color-grey-3,
          -.8rem -.8rem 2.4rem $color-white;
        border-radius: 0.8rem;
      }
    }
  }
}

.confirm {
  @include respond(phone) {
    margin-top: auto;
  }
}


.currency-select {
  @include respond(phone) {
    margin: auto .8rem;

    label {
      font-family: $sf-medium;
      margin-bottom: 1.6rem;
      font-size: 1.9rem;
    }

    ul {
      list-style: none;
      display: flex;
      margin: 1.6rem -.8rem;


      li {
        margin: 0 .8rem;
        padding: 1.6rem;
        //border: 1px solid $color-grey-1;
        box-shadow: .8rem .8rem 2.4rem $color-grey-3,
          -.8rem -.8rem 2.4rem $color-white;
        border-radius: 0.4rem;


        &.selected {
          background-color: $color-yellow;
          //border: 1px solid $color-white;
          box-shadow: 0 1.6rem 2.4rem rgba($color-yellow, 0.4);
        }
      }
    }
  }
}
