:host {
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100%;
  transform: translate3d(0, 100%, 0);
// transform: translate3d(0, 0, 0);

  transition: 0.8s 10ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;

  display: flex;
  flex-direction: column;

  &.open {
    transform: translate3d(0, 0, 0);
  }
}

.select-persons {
  &__container {
    height: 100%;
    overflow: auto;
  }

  &__header {

    background-color: #A6C5CD;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    padding: 0 1.6rem 4.8rem;
    position: relative;
    z-index: 10;

    h1 {
      color: #fff;
      font-size: 2.8rem;
      font-family: "SFProDisplay-Bold";
      padding: 1.6rem 1.6rem 0;
    }

    .go-back {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      padding-top: 6.4rem;

      &__action {
        width: 4.4rem;
        height: 4.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
      }
    }
  }

}


.persons,
.luggage,
.extra-info {
  &__container {
    padding: 32px;

    h2 {
      margin-bottom: 32px;
    }

    .list {
      list-style: none;
      display: flex;
      margin: 0;
      flex-direction: column;


      li {
        height: 24px;
        margin: 16px 0;
        position: relative;
        display: flex;
        align-items: center;



        &:last-child {
          margin-bottom: 0;
        }

        i {
          font-size: 24px;
        }
      }


    }
  }
}

.persons,
.luggage {
  &__container {
    .list {
      li {
        height: 5.6rem;
      }


      .persons {

        &__list {
          display: flex;
          align-items: center;

          .info {
            display: flex;
            flex-direction: column;
          }

          small {
            font-size: 11px;
            margin: 2px 0 0 16px;
          }

        }

        &__qnt {
          margin-left: auto;

          i {
            font-size: 1.9rem;
          }
        }
      }
    }
  }
}

// .extra-info__container {
//   h2 {
//     margin-bottom: 32px;
//   }

//   .list {
//     display: flex;
//     margin: 0;
//     flex-direction: column;

//     li {
//       height: 24px;
//       margin: 16px 0;
//       position: relative;
//       display: flex;
//       align-items: center;



//       &:last-child {
//         margin-bottom: 0;
//       }

//       i {
//         font-size: 24px;
//       }
//     }
//   }
// }

.spacer {
  padding: 0 32px;

  hr {
    margin: 0;
    border-top: 1px solid #F1F3F6;
  }
}

.actions {
  padding: 32px;
}