<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Classic layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<classic-layout *ngIf="layout === 'classic'"></classic-layout>
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Admin layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<admin-layout *ngIf="layout === 'admin'"></admin-layout>