<div class="book-flight__container">
    <div class="book-flight__inner" [class.open]="toggleMenuState === 'open'">
        <div class="destination-selector">
            <div class="blurry-overlay"></div>
            <div class="destination-selector__inner">
                <div class="departure-city" routerLink="/bilete-avion/selecteaza-plecare">
                    <h3 *ngIf="selectedAirport.length < 1 || !selectedAirport">{{ 'BOOK-FILGHT.WHERE_FROM_FLY' | translate}} <i class="icon-edit"></i></h3>
                    <h3 *ngIf="selectedAirport.length > 0 && selectedAirport[0] != undefined">{{selectedAirport[0].city.name}} <i class="icon-edit"></i></h3>
                </div>
                <aside class="border"><i class="icon-plane-filled"></i></aside>
                <div class="destination-city">
                    <h1>{{ 'BOOK-FILGHT.WHERE_TO_FLY' | translate }}</h1>
                    <div class="vwrap" *ngIf="selectedTopDestinations">
                        <div class="vmove">
                            <div class="vslide" *ngFor="let topDestination of selectedTopDestinations">
                                <h2>{{topDestination.city_name}}</h2>
                                <h3>{{topDestination.country}}</h3>
                            </div>
                        </div>
                        <div class="destination-city__actions">
                            <i class="icon-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" (keyup)="onKey($event)"> -->
        </div>
        <div class="top-destinations">
            <h4 class="top-destinations__title">{{ 'BOOK-FILGHT.TOP_DESTINATIONS.TITLE' | translate}}</h4>
            <div class="top-destinations__inner">
                <ul class="top-destinations__list" *ngIf="selectedTopDestinations">
                    <li class="top-destinations__item" *ngFor="let topDestination of selectedTopDestinations">
                        <div class="item__clip">
                            <img src="https://images.skypicker.com/?image=https://images.kiwi.com/photos/385x320/{{topDestination.city_id}}.jpg&fit=cover&width=180&height=230&dpr=1" alt="">
                            <h4>{{topDestination.city_name}}</h4>
                        </div>
                        
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
   
</div>



